@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: black;
}
.main{
    background-image: url("assets/images/bg.jpg");
    background-position: center center;
    background-size: max(1200px, 100vw);
    background-repeat: no-repeat;
    height: 90vh;
    position: relative;
}
.main .box{
    height: 90vh;
    width: 100%;
    opacity: 0.66;
    position: absolute;
    top: 0;
    background-color: black;
}
nav{
    max-width: 80vw;
    justify-content: space-between;
    margin: auto;
    display: flex;
    align-items: center;
    height: 62px;
}
nav img{
    color: red;
    width: 154px;
    position: relative;
    z-index: 10;
    margin: 25px 0 0 0;
}
nav button{
    position: relative;
    z-index: 10;
}
.hero{
    height: calc(100% - 62px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;
    font-family:  "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;
    gap: 23px;
    padding: 0 15px;
}
.hero> :nth-child(1){
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    font-size: 48px;
    text-align: center;
}
.hero> :nth-child(2){
    font-weight: 400;
    font-size: 24px;
    text-align: center;
}
.hero> :nth-child(3){
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}
.separation{
    height: 7px;
    background-color: rgb(55, 54, 54);
}
.btn{
    padding: 3px 8px;
    font-weight: bold;
}
.first-btn{
    background: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 400;
}
.btn-red-sn{
    background-color: red;
    color: white;
    border-radius: 4px;
}
.btn-red{
    background-color: red;
    color: white;
    padding: 9px 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 24px;
    font-weight: 500;
    border-radius: 5px;
}
.hero-buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}
.main input{
    padding: 13px 200px 13px 12px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-weight: 400;
    border-radius: 5px;
    background: transparent;
    border: 1px solid rgba(246, 238, 238, 0.395);
}
.first{
    display: flex;
    justify-content: center;
    max-width: 70vw;
    margin: auto;
    color: white;
    justify-content: center;
    align-items: center;
}
section{
    padding: 60px 0;
}
.secImg{
    position: relative;
    top: 10px;
    bottom: 10px;
}
.secImg img{
    width: 550px;
    position: relative;
    z-index: 10;
}
.secImg video{
    position: absolute;
    top: 70px;
    right: 0;
}
section.first > div{
    display: flex;
    flex-direction: column;
    padding: 20px 0;
}
.first > div :first-child{
    font-size: 42px;
    font-weight: 900;
}
.first > div :nth-child(2){
    font-size: 20px;
    font-weight: 400;
}
.third video{
    bottom: 0;
    top: 40px;
    right: 95px;
    width: 23.7vw;
}
.faq h2{
    text-align: center;
    font-size: 48px;
}
.faq{
    background-color: black;
    color: white;
    padding: 34px;
    font-size: 24px;
}
.faqbox:hover{
    background-color: rgb(74, 74, 74);
}
.faqbox{
    transition: all 1s ease-out;
    display: flex;
    background-color: rgb(49, 47, 47);
    padding: 24px;
    max-width: 70vw;
    margin: 34px auto;
    justify-content: space-between;
    cursor: pointer;
}
footer{
    color: white;
    max-width: 80vw;
    margin: auto;
    padding: 14px;
}
footer .questions{
    padding: 20px 0;
}
.footer a{
    font-size: 14px;
    color: white;
}
.footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;
}
.footer-item{
    display: flex;
    flex-direction: column;
    gap: 13px;
}
@media screen and (max-width:1300px){
    .first{
        flex-wrap: wrap;
    }
    .secImg img{
        width: 305px;
    }
    .secImg video{
        width: 305px;
    }
    .hero> :nth-child(1){
        font-size: 32px;
    }
    .hero> :nth-child(2){
        font-size: 18px;
    }
    .hero> :nth-child(3){
        font-size: 18px;
    }
    .hero-buttons{
        flex-direction: column;
    }
}
@media screen and (max-width:1300px){
    .footer{
        display: grid;
        grid-template-columns: 1fr 1fr;
        color: white;
        gap: 24px;
    }
}